body {
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    text-align: center;
    background-color: #EAF7FE; 
}

table {
    width: auto;  /* Adjusted to auto to fit content */
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #B3D4E9; 
}

td {
    width: 100px; 
    height: 100px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #B3D4E9; 
    color: rgb(36, 36, 36); 
    padding: 0; /* Ensuring no additional padding */
}

#guess-form {
    margin-top: 20px;
}

#valid-guesses {
    list-style-type: none;
    padding: 0;
}

#game-end-message button {
    margin-top: 20px;
}

button, input[type="submit"] {
    background-color: #FFD700; 
    border: none;
    color: rgb(36, 36, 36);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover, input[type="submit"]:hover {
    background-color: #FFC000; 
}

#score-display, #timer-display, #high-score-display, #plays-display {
    color: black;
}

#guess-input {
    padding: 10px;
    margin-right: 10px;
}

#game-end-message {
    color: rgb(37, 37, 37);
}

#valid-guesses li {
    padding: 5px 0;
}
